@media screen {
  html {
    min-height: 100%;
    background: #f4f4f4;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media screen {
  body {
    box-sizing: border-box;
    max-width: 820px;
    min-height: calc(100vh - 1rem);
    margin: 1rem auto 0;
    padding: 4rem 6rem 6rem 6rem;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  }
}

table {
  border-collapse: collapse;
}

/* Apply a default padding if legacy cellpadding attribute is missing */
table:not([cellpadding]) th,
table:not([cellpadding]) td {
  padding: 0.4rem;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */

table[border]:not([border="0"]):not([style*="border-width"]) th,
table[border]:not([border="0"]):not([style*="border-width"]) td {
  border-width: 1px;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */

table[border]:not([border="0"]):not([style*="border-style"]) th,
table[border]:not([border="0"]):not([style*="border-style"]) td {
  border-style: solid;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */

table[border]:not([border="0"]):not([style*="border-color"]) th,
table[border]:not([border="0"]):not([style*="border-color"]) td {
  border-color: #ccc;
}

figure figcaption {
  margin-top: 0.25rem;
  color: #999;
  text-align: center;
}

hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0 0;
}

.mce-content-body:not([dir="rtl"]) blockquote {
  margin-left: 1.5rem;
  padding-left: 1rem;
  border-left: 2px solid #ccc;
}

.mce-content-body[dir="rtl"] blockquote {
  margin-right: 1.5rem;
  padding-right: 1rem;
  border-right: 2px solid #ccc;
}
